
body {
    /* background-color: #8BD4C0; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg');
    background-size: contain;
    width: 200vw;
    height: 200vh;
}
/* .bkg{
    
} */
h1 {
    color: white;
}

a {
    color: rgb(172, 249, 255);

}
a:hover {
    color:rgb(233, 255, 172);
}
.nav {
    color:white;
    position: fixed;
    right: 30px;
    margin: 100px 30px 0 30px;
    width: 30%;
    text-align: right;
    font-size: 18px;

}

.active {
    font-weight: bold;
    color: black;
    background-color: #f0f7b5;
    transition: 0.5s;

}

.nav p:hover {
    font-weight: bold;
}
.contentbox {
    /*margin-left: 100px;*/
    /* border: 5px dotted #EEA09F; */
    /* background-color: white; */
    float: left;
    margin: 30px 30px 0 30px;
    width: 40%;
    height: 80%;
    /* overflow-y: scroll; */
    border-radius: 30px;
    padding: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.signature {
    color:white;
    position: fixed;
    right: 30px;
    bottom: 30px;
    /*margin: 30px 30px 0 30px;*/
    width: 30%;
    text-align: right;
    font-size: 18px;
}

.tsc{
    width: 10%;
    left: 150vh;
    top: 150vh;
    position: relative;

}

.monster{
    width: 10%;
    left: 120vh;
    top: 170vh;
    position: relative;

}

.fairy{
    width: 10%;
    left: 160vh;
    top: 185vh;
    position: relative;

}

.mushroom{
    width: 10%;
    left: 175vh;
    top: 85vh;
    position: relative;

}

.loop{
    width: 10%;
    left: 160vh;
    top: 185vh;
    position: relative;

}
.shiny{
    width: 10%;
    left: 180vh;
    top: 35vh;
    position: relative;

}